apiVersion: v1
kind: Service
metadata:
  name: {{ .Values.postDock.name }}-db
  labels:
    name: database
    system: {{ .Values.postDock.name }}
spec:
  clusterIP: None
  ports:
    - port: 5432
      targetPort: 5432
  selector:
    name: database
    system: {{ .Values.postDock.name }}
    